:root {
    --text-colour:hsl(33, 75%, 80%);
    background-color: #333;
    color: var(--text-colour);
    fill: var(--text-colour);
    font-family: Arial, Helvetica, sans-serif;
    --knob-angle: -140deg;
}
h2 {white-space: pre;}
.inst {
    display: inline-block;
    border: 1px solid;
    padding: 0.5em;
}
.selected-option {
    color: black;
    background-color:chartreuse;
}
.active {
    outline: 2px solid orange;
}
.last-active {
    color: yellow;
    fill: yellow;
}
main {
    display: flex;
    flex-wrap: wrap;
}
svg {
    width: 400px;
}
section[id] {
    display: flex;
    gap: 2px;
    font-size: .9em;;
}
section[id]>div::before {
    content:attr(data-val);
    line-height: 68px;
    display: block;
    width:68px;
    height:68px;
    /* background-color: var(--text-colour); */
    background: radial-gradient(transparent, transparent calc(100% - 17px), currentColor  calc(100% - 16px));
    border-radius: 50%;
}
section[id]>div.bipolar::before {
    content: attr(data-valbp);
}
section[id]>div::after {
    content:"";
    display: block;
    width:68px;
    height:68px;
    background: radial-gradient(circle at 50% 8px, currentColor 4px, transparent 5px, transparent);
    position: absolute;
    transform: rotate(var(--knob-angle));
    transition: transform 100ms ease-out;
    top:6px;
}
section[id]>p>ul>li {
    padding-left: 4px;
}
section[id]>p>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
section[id]>p {
    height: 90px;
    min-width: 80px;
    overflow: hidden;
}
section[id]>div {
    padding: 0.5em;
    position: relative;
    width: min-content;
    text-align: center;
    background-color: rgba(255,255,255,0.07);
    margin-bottom: 2px;
}
section[id]::before {
    content: attr(id);
    writing-mode: vertical-rl;
    text-align: center;
    text-transform: uppercase;
    margin-right: 0.25em;
    background:linear-gradient(transparent, var(--text-colour),var(--text-colour), transparent);
    color: black;
    font-weight: bold;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
